<div class="text-center">
    <h1 class="display-4">Fitness Center Yönetim Sistemi</h1>
    <p class="lead">Randevu al, antrenör seç, kişisel programını oluştur!</p>

    <a href="/Randevu/Create" class="btn btn-primary btn-lg mt-3">Randevu Al</a>
</div>

<hr>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card shadow">
            <img src="https://source.unsplash.com/400x300/?fitness" class="card-img-top">
            <div class="card-body">
                <h5>Fitness Programları</h5>
                <p>Profesyonel eğitmenler ile birebir çalışma fırsatı.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <img src="https://source.unsplash.com/400x300/?yoga" class="card-img-top">
            <div class="card-body">
                <h5>Yoga & Pilates</h5>
                <p>Ruhunuzu ve bedeninizi yenileyin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <img src="https://source.unsplash.com/400x300/?gym" class="card-img-top">
            <div class="card-body">
                <h5>Antrenörler</h5>
                <p>Uzman kadromuzu inceleyin.</p>
            </div>
        </div>
    </div>
</div>
