@model Hizmet

<h2>Hizmeti Sil</h2>
<hr>

<p><strong>@Model.Ad</strong> adlı hizmeti silmek istediğinize emin misiniz?</p>

<form method="post">

    <button class="btn btn-danger">Evet, Sil</button>
    <a href="/Hizmet" class="btn btn-secondary">Vazgeç</a>

</form>
