@model Antrenor

<h2>Yeni Antrenör Ekle</h2>
<hr>

<form method="post">

    <div class="mb-3">
        <label>Ad Soyad</label>
        <input asp-for="AdSoyad" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Uzmanlık</label>
        <input asp-for="Uzmanlik" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Fotoğraf URL</label>
        <input asp-for="FotografUrl" class="form-control" />
        <small>Örn: https://… şeklinde bir görsel linki</small>
    </div>

    <button class="btn btn-success">Kaydet</button>
</form>
