@model Antrenor

<h2>Antrenörü Sil</h2>
<hr>

<p>
    <strong>@Model.AdSoyad</strong> antrenörünü silmek istediğinize emin misiniz?
</p>

<form method="post">
    <button class="btn btn-danger">Evet, Sil</button>
    <a href="/Antrenor" class="btn btn-secondary">İptal</a>
</form>
