@model Antrenor

<h2>Antrenör Düzenle</h2>
<hr>

<form method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Ad Soyad</label>
        <input asp-for="AdSoyad" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Uzmanlık</label>
        <input asp-for="Uzmanlik" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Fotoğraf URL</label>
        <input asp-for="FotografUrl" class="form-control" />
    </div>

    <button class="btn btn-primary">Güncelle</button>
</form>
